= form_tag 'messages/create/', :method => 'get', :class =>"form-horizontal" do 
  %fieldset
    %div.control-group
      = label_tag 'receiver_id', "To", :class => "control-label"
      %div.controls
        = text_field_tag 'receiver_id', '', :class => "input-xlarge", :id => "input-receiver"
    %div.control-group    
      = label_tag 'body', "Body", :class => "control-label"
      %div.controls
        = text_area_tag 'body', '',  :class => "input-xlarge", :rows => "5", :id => "input-body"
    %div.form-actions
      = submit_tag 'Send Message', class:"btn btn-primary"
