%table.table.table-personalinfo
  %thead
    %tr
      %td.about-title
        %i.icon-user
        %strong Personal Information
        = link_to "Edit",edit_user_profile_path(@viewed_user,@viewed_user.profile)
      %td
      %td

  %tbody
    %tr
      %td.about-subtitle 
        %strong Name
      %td.about-text
        %p= @viewed_user.name 
      %td

    %tr
      %td.about-subtitle 
        %strong Email 
      - message = ''
      - if @viewed_user.email 
        - message = @viewed_user.email 
      %td.about-text
        %p= message
    %tr
      %td.about-subtitle 
        %strong Birthday
      - message = ''
      - if @viewed_user.profile.date_of_birth
        - message = @viewed_user.profile.date_of_birth  
      %td.about-text
        %p= message
    %tr
      %td.about-subtitle 
        %strong School
      - message = ''
      - if @viewed_user.profile.school
        - message = @viewed_user.profile.school  
      %td.about-text
        %p= message

