%div.row-fluid
  %div.span3
    %a.thumbnail#profile-image
      %img{:src => 'http://placehold.it/260x180'}
    %div.tabbable.tabs-left
      %ul.nav.nav-tabs#profile-info
        %div.line-small
        %li
          %a{"href" => "#activities", "data-toggle" => "tab"} Recent Activities
        %li.active
          %a{"href" => "#profile", "data-toggle" => "tab"} Profile
        %li
          %a{"href" => "#statistics", "data-toggle" => "tab"} Statistics
        %li
          %a{"href" => "#badges", "data-toggle" => "tab"} Badges
        %div.line-big
  %div.span8#profile-content
    %div.status-container
      %div.arrow-container
        %div.arrow
      %div.status
        %div.status-content
          %h3 Sample Status

    %div.tab-content
      %div.tab-pane#activities
      %div.tab-pane.active#profile
        - if current_user==@user
          %i.icon-edit= link_to "Edit",edit_user_profile_path(@user)
        %br
        %table.table.table-striped
          %tr
            %td Full name
            %td= @profile.first_name + " " + @profile.last_name
          %tr
            %td School
            %td= @profile.school
          - if @profile.date_of_birth
            %tr
              %td Date of Birth
              %td= @profile.date_of_birth.strftime '%m/%d/%Y'
      %div.tab-pane#statistics
      %div.tab-pane#badges
        = link_to "All Badges",badges_path,class: "btn btn-primary"
        %br
        = render "badges/badge_list"
  %div.span1
