%div.span3
  %div#profile
    %div.row-fluid
      %table.table.table-bordered
        %tbody
          %tr
            %td{:colspan => '2'}
              %div.span4
                =image_tag(image)
              %div.span8
                %h3= name
                %small View my profile
          %tr
            %td 
              %strong #{user.exp}
              %small EXP
            %td 
              %strong #{rank}
              %small Rank
            %td 
              %strong #{user.badges.count}
              %small Badges
  
  %div.separator

  %div.accordion#friend_list
    %div.myhead
      %div.row-fluid
        %div.span6
          %h3 Friends
    %div.mousescroll
      %ul.nav.nav-tabs.nav-stacked
        - friends.each do |f|
          %li
            %a{href: user_profile_path(f)}
              =image_tag(f.profile.image)
              = f.name
              - if f.room_id!=0
                is in room #{f.room_id}
    :javascript
      $(".mousescroll").slimscroll({
        color: '#666',
        size: '10px',
        height: '150px'
      });



