%div.span3
  %div#profile
    %div.row-fluid
      %table.table.table-bordered
        %tbody
          %tr
            %td{:colspan => '3'}
              %div.span4
                =image_tag(current_user.profile.image)
              %div.span8
                %h3= @name
                %small= link_to "View my profile","/users/#{current_user.id}/profile"
          %tr
            %td 
              %strong #{current_user.exp}
              %small EXP
            %td 
              %strong #{current_user.rank}
              %small Rank
          %tr
            %td
              %strong #{current_user.profile.reputation.value}
              %small Reputation
            %td 
              %strong #{current_user.badges.count}
              %small Badges
  
  %div.separator

  %div.accordion#friend_list
    %div.myhead
      %div.row-fluid
        %div.span6
          %h3 Friends
    %div.mousescroll
      %ul.nav.nav-tabs.nav-stacked
        - current_user.friends.each do |f|
          %li
            %a{href: user_profile_path(f)}
              =image_tag(f.profile.image)
              = f.name
              - if f.room_id!=0
                is in room #{f.room_id}
    :javascript
      $(".mousescroll").slimscroll({
        color: '#666',
        size: '10px',
        height: '150px'
      });
