%div.accordion-group{id: "room_#{room.id}"}
  %div.accordion-heading
    %div.accordion-toggle{"data-toggle" => "collapse", "data-target" => "#body-room_#{room.id}", "data-parent" => "#room_list"}
      %div.row-fluid
        %div.span2.profile_image
          - if room.owner and room.owner.profile.image
            =image_tag(room.owner.profile.image)
        %div.span8
          %h3.room-title=room.title
          %span.label.label-success.room-mode= room.room_mode.title
        %div.span2
          %small= time_ago_in_words(room.created_at) + " ago"
  %div.accordion-body.collapse{id: "body-room_#{room.id}"}
    %div.accordion-inner
      %div.span8
        %dl.dl-horizontal
          %dt Created at
          %dd= room.created_at.localtime
          %dt Players
          %dd
            %table.table.table-condensed
              - order = 1
              - room.users.each do |user|
                %tr
                  %td= order
                  %td= user.profile.first_name+" "+user.profile.last_name
                  - order+= 1
      %div.span2
      %div.span2
        = link_to "Join", room_join_path(room.id), {class: "btn btn-primary"}
