%table.table.table-condensed
  %tbody
    - @user_list.each do |user|
      %tr
        %td.row-fluid.user_component
          %div.span3
            %div.thumbnail
              = image_tag(user.profile.image)
          %div.span9
            %div.row-fluid
              %div.span7
                %h4= user.name
              %div.span4
                %label.label.label-info= user.status_message
              %div.span4
                %label.label.label-inverse
                  %i.icon-fire= " GP #{user.gp}"
              %div.span4
                %label.label.label-inverse
                  %i.icon-star= " Level #{user.level}"
