%div.row-fluid#rooms_index
  %div.span3
    %div#profile
      %div.row-fluid
        %table.table.table-bordered
          %tbody
            %tr
              %td{:colspan => '2'}
                %div.span4
                  =image_tag(@image)
                %div.span8
                  %h3= @name
                  %small View my profile
            %tr
              %td 
                %strong #{@user["exp"]}
                %small EXP
              %td 
                %strong #{@rank}
                %small Rank
    
    %div.separator

    %div.accordion#friend_list
      = render "friend_list", friends: @friends


  %div.span5
    %div.accordion#room_list
    %br
    %div.modal.hide#new_room
      %div.modal-header
        %button.close{"type" => "button", "data-dismiss" => "modal"}x
        %h3 Create new room
      %div.modal-body
        =render "new"
    %div.modal.hide#invitation
      %div.modal-header
        %button.close{"type" => "button", "data-dismiss" => "modal"}x
        %h3 You're invited!
      %div.modal-body
        %p
      %div.modal-footer
        %a.btn{"data-dismiss"=>"modal"}Reject
        %a.btn.btn-primary#accept Accept
  %div.span4
    %div#recent_activities
      %h3 Recent Activities
      = render "recent_activities" 
    
    %div#ranking
      %h3 Ranking
      = render "top_users", top_users: @top_users
