%table.table.perform-stats
  %thead
    %tr
      %td.stats-title
        %strong Performance recently
      %td 
        %div.btn-group.subject-button
          %div.btn.btn-primary.dropdown-toggle#interval-btn{"data-toggle" => "dropdown"}
            Time
            %span.caret
          %ul.dropdown-menu
            %li
              %a#today Today
            %li
              %a#last_week Last week
            %li
              %a#last_month Last month
  %tbody
    -@subject_data.each do |s|
      %tr
        %td.stats-subtitle
          %strong= s[:name]
        %td.progress-bar-container
          -@color = "primary" if s[:id]%3 == 1
          -@color = "success" if s[:id]%3 == 2
          -@color = "warning" if s[:id]%3 == 0
          %div.progress.progress-striped.active{:class => "progress-#{@color}"}
          %div.stats-text.row-fluid
            %div.span3
              %strong{:id => "percent_#{s[:name]}"}
                = "#{s[:data][:percent]}%"
            %div.span3  
              %i.icon-ok
              %strong{:id => "total_answers_#{s[:name]}"}  
                =s[:data][:total_answers]
            %div.span3  
              %i.icon-remove
              %strong{:id => "correct_answers_#{s[:name]}"}
                =s[:data][:correct_answers]

            %div.bar{:style => "width: #{s[:data][:percent]}%", :id => "bar-#{s[:name]}"}


