%div.btn-group.subject-button
  %div.btn.btn-primary.dropdown-toggle#interval_btn{"data-toggle" => "dropdown"}
    Select time
    %span.caret
  %ul.dropdown-menu
    %li
      %a#today Today
    %li
      %a#last_week Last week
    %li
      %a#last_month Last month
    
%table.table
  %thead
    %tr
      %td 
      %td 
      %td.about-title 
        %strong Question Answered
      %td Correct
  %tbody
    -@subject_data.each do |s|
      %tr
        %td.stats-subtitle
          %strong= s[:name]
        %td.progress-bar-container
          %p{:id => "percent_#{s[:name]}"}
            ="#{s[:data][:percent]}%"
          -@color = "primary" if s[:id]%3 == 1
          -@color = "success" if s[:id]%3 == 2
          -@color = "warning" if s[:id]%3 == 0
          %div.progress.progress-striped.active{:class => "progress-#{@color}"}
            %div.bar{:style => "width: #{s[:data][:percent]}%", :id => "bar-#{s[:name]}"}
        %td{:id => "total_answers_#{s[:name]}"} 
          =s[:data][:total_answers]
        %td{:id => "correct_answers_#{s[:name]}"}
          =s[:data][:correct_answers]


%div.btn-group.subject-button
  %div.btn.btn-success.dropdown-toggle{"data-toggle" => "dropdown"} 
    All Subjects
    %span.caret
  %ul.dropdown-menu#dropdown-subjects
    -@subject_data.each do |s|
      %li
        %a{:id => "#{s[:id]}_graph"} #{s[:name]}

%div#graph

%div.btn-group.subject-button
  %div.btn.btn-primary.dropdown-toggle{"data-toggle" => "dropdown"} 
    All Subjects
    %span.caret
  %ul.dropdown-menu.dropdown-subjects
    -@subject_data.each do |s|
      %li
        %a{:id => "#{s[:id]}_column"} #{s[:name]}

%div#column_stacked

