%div#container

  %div.well
    %h1#stats-title Your Personal Statistics
  %div.perform-stats
    %div.btn-group.subject-button
      %div.btn.btn-large.btn-primary.dropdown-toggle{"data-toggle" => "dropdown"} 
        Today
        %span.caret
      %ul.dropdown-menu
        %li
          %a Last week
        %li
          %a Last 2 weeks
        %li
          %a Last month
    %div 
      %h2 
        Performance 
        %small recently
      %hr
      
      %table.table
        %thead
          %tr
            %th Subject
            %th Accuracy (%)
            %th Question Answered
            %th Correct
        %tbody
          -@subject_data.each do |s|
            %tr
              %td #{s[:name]}
              %td.progress-bar-container
                ="#{s[:data][:percent]}%"
                -@color = "primary" if s[:id]%3 == 1
                -@color = "success" if s[:id]%3 == 2
                -@color = "warning" if s[:id]%3 == 0
                %div.progress.progress-striped.active{:class => "progress-#{@color}"}
                  %div.bar{:style => "width: #{s[:data][:percent]}%"}
              %td
                =s[:data][:total_answers]
              %td
                =s[:data][:correct_answers]


  %div.perform-stats
    %div.btn-group.subject-button
      %div.btn.btn-large.btn-success.dropdown-toggle{"data-toggle" => "dropdown"} 
        All Subjects
        %span.caret
      %ul.dropdown-menu#dropdown-subjects
        -@subject_data.each do |s|
          %li
            %a{:id => "#{s[:id]}_graph"} #{s[:name]}
    %div 
      %h2 
        Performance 
        %small overall
      %hr
    %h3#description-progress Overall progress description goes here
  %div#graph
  %div
    %div
      %h3#description-column Column stacked description goes here
    %div.btn-group.subject-button
      %div.btn.btn-large.btn-primary.dropdown-toggle{"data-toggle" => "dropdown"} 
        All Subjects
        %span.caret
      %ul.dropdown-menu.dropdown-subjects
        -@subject_data.each do |s|
          %li
            %a{:id => "#{s[:id]}_column"} #{s[:name]}
  %div#column_stacked

