
%html
  %head
    %title Studium - Online Test Prep

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type: "text/javascript"></script>
    <![endif]-->

    = include_gon
    = stylesheet_link_tag "application",media: "all"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Open+Sans:300"
    = stylesheet_link_tag "jquery.scroll"
    = javascript_include_tag "application"
    -#= javascript_include_tag "http://localhost:9292/faye.js"
    :javascript
      WEB_SOCKET_SUPPRESS_CROSS_DOMAIN_SWF_ERROR = true;
    = javascript_include_tag "http://js.pusher.com/1.12/pusher.min.js"
    :javascript
      var client = new Pusher("#{Studium::Application.config.pusher_key}")
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33600563-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    = javascript_include_tag "javascripts/jquery.countdown.min"
    = javascript_include_tag "javascripts/jquery.scroll"
    = javascript_include_tag "javascripts/jquery.tokeninput"
    = csrf_meta_tags

    %script{type: "text/javascript", src: "http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"}

    = yield(:head)


    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}

  %body{class: controller.controller_name}
    %div.navbar.navbar-fixed-top
      %div.navbar-inner.navbar-big
        %div.row-fluid
          %div.container
            %div.span3
              %a.btn.btn-navbar{"data-toggle" => "collapse", "data-target"=> ".nav-collapse"}
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
              %a.mybrand{href: user_signed_in? ? "/dashboard":"/"}
                Studium
                %i.icon-home.icon-white
            %div.span5
            %div.nav-collapse.span4
              %ul.nav.pull-right
                - if user_signed_in?
                  %li.dropdown
                    %a.dropdown-toggle{"href" => "#", "data-toggle"=> "dropdown"}
                      %i.icon-comment.icon-white
                      %b.caret
                    %ul.dropdown-menu.mydropdown-nav#dropdown-message
                      -current_user.received_messages.limit(4).each do |msg|
                        - if msg.read then bgcolor = '#fff'
                        - else bgcolor = '#eee'
                        %div{:bgcolor => bgcolor}
                          %li
                            %a{href: "/messages/"+msg.id.to_s}
                              %div.row-fluid
                                %div.span3
                                  = image_tag(User.find(msg.sender_id).profile.image)
                                %div.span9
                                  %div
                                    %b= User.find(msg.sender_id).name
                                  %small= msg.body[0..36] + ' ...'
                        %li.divider
                      %li
                        =link_to "View all messages", messages_path

                  %li.dropdown
                    %a.dropdown-toggle{"href" => "#", "data-toggle"=> "dropdown"}
                      %i.icon-user.icon-white
                      %b.caret
                    %ul.dropdown-menu.mydropdown-nav
                      %li
                        %a{href: "/users/#{current_user.id}/profile"}
                          %div.row-fluid
                            %div.span3
                              = image_tag(current_user.profile.image)
                            %div.span9
                              %div
                                %b=current_user.name
                              %small View my profile
                      %li.divider
                      %li
                        =link_to "Statistics", stats_path
                  - if current_user.admin?
                    %li= link_to "Admin Page",admin_index_path
                  %li.divider-vertical

                  %li= link_to "Sign out",destroy_user_session_path, method: :delete
    %div.container-fluid
      %div.row-fluid.notice-alert
        -# Notifications
        - if notice
          %div.alert.alert-success
            %button.close{:"data-dismiss"=>"alert"} x
            %p= notice
        - if alert
          %div.alert.alert-error
            %button.close{:"data-dismiss"=>"alert"} x
            %p= alert


      %div.row-fluid
        %div.mycontainer
          = yield
          %hr
          %footer
            %p Copyright Chau, Kien and HTA 2012.

